<html lang="en">
  <head>
    <%= stylesheet_link_tag "pages/projects"%>
  </head>
  <body>
    <h1>
      Carter's Projects
    </h1>
    <div class="ProjectContainer">
      <div class="infoCard">
        <h3> Engineering / Software Development Internship</h3>
        <%= image_tag("tpi.jpg", alt: "Rcoket Ship") %>
        <p> I used agile design to build applications that streamlined quality-department metrics and
          automated saftey data entry and analysis.
        </p>
      </div>
      <div class="infoCard">
        <h3> GPU Based Password Cracker</h3>
        <%= image_tag("gpu.jpg", alt: "Rcoket Ship") %>
        <p>
          As an investigation into password security, Chase Snodgras and I built
          a GPU-based password cracking software that can crack an 8-digit special character combination
          in 22 seconds on outdated hardware.
        </p>
      </div>
      <div class="infoCard">
        <h3>Local Foods Connection Website</h3>
        <%= image_tag("LFS_Logo.png", alt: "Rcoket Ship") %>
        <p>
          Local Foods Connection (LFC) is a non-profit
          that connects low-income households with local food. My team and I
          created a web applicaiton that allows users to search for food amoung
          a database of local farmers.
        </p>
      </div>
      <div class="infoCard">
        <h3>Custom Speaker Building</h3>
        <%= image_tag("speaker.jpg", alt: "Rcoket Ship") %>
        <p>
          I've built speakers large and small by teaching myself electronics
          and carpentry.
        </p>
      </div>
    </div>
  </body>
</html>
