<!DOCTYPE html>
<html>
  <head>
    <title>Carter Markegard</title>
    <%= stylesheet_link_tag "navbar.css"%>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

  </head>

  <body>
    <div class="background">
      <img class="background_img"> <%= image_tag @picture_url %></img>
      <h1 class="centered_name">Carter Markegard</h1>
      <ul class="navBar">
        <li class="tab" ><%= link_to "Home", root_path%></li>
        <li class="tab"><%= link_to "Resume", resume_path%></li>
        <li class="tab"><%= link_to "Portfolio", portfolio_path%></li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
